@use './../utils/vars' as *;       
@use './../utils/mixins' as *;
@use './../utils/typography' as *;
@use './../utils/animations' as *;
@use './../utils/breakpoints' as *;

// components
@use '../lib/components/IracingInput';

.user-aside-container{
    @include sizes();
    @include displayFlex($justifyContent: flex-start);
    background-image: $dark-BackgroundImage;
    box-shadow: $shadow;
    border-radius: 20px;
    padding: 20px;
    animation: fade-in 1s ease forwards;
    grid-column: 4/5;

    .user-avatar{
        @include sizes(100px,100px);
        @include displayFlex();
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
    }
}