@use './../utils/vars' as *;       
@use './../utils/mixins' as *;
@use './../utils/typography' as *;
@use './../utils/animations' as *;
@use './../utils/breakpoints' as *;

// components
@use '../lib/components/IracingInput';

.user-aside-container{
    position: fixed;
    @include sizes(300px,80%);
    @include displayFlex($justifyContent: flex-start);
    right: 10px;
    background-image: $dark-BackgroundImage;
    box-shadow: $shadow;
    border-radius: 20px;
    padding: 20px;
    animation: fade-in 1s ease forwards;

    .user-avatar{
        @include sizes(100px,100px);
        @include displayFlex();
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
    }
}