@use '../../../utils/vars' as *;       
@use '../../../utils/mixins' as *;
@use '../../../utils/typography' as *;
@use '../../../utils/animations' as *;
@use '../../../utils/breakpoints' as *; 

// imports
@use '../../../components/UserAsideComponent';
@use '../components/custom/RaceStatsComponent';

.dashboard-view{
    z-index: 100;
    @include sizes(95%,80%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    grid-template-columns: 300px 2fr 1fr 300px;

    .dashboard-content{
        @include sizes(84%, 95%);
        @include displayFlex();
        position: absolute;
        right: 25px;
        top: 25px;
        bottom: 25px;
        backdrop-filter: blur(5px);
        box-shadow: $shadow;
        border-radius: 20px;
        overflow: hidden;

        img{
            position: absolute;
            bottom: 0px;
            width: 100%;
            z-index: 10;
        }
    }
}