@use '../../../utils/vars' as *;       
@use '../../../utils/mixins' as *;
@use '../../../utils/typography' as *;
@use '../../../utils/animations' as *;
@use '../../../utils/breakpoints' as *;

// components
@use '../components/UploadRacingSummary';
@use '../components/CreateEvent';
@use '../components/AdminNavigation';
@use '../../../lib/components/modals/AdminModals';

.admin-dashboard-container{
    display: grid;
    @include sizes();
    padding: 20px;  
    padding-top: 100px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px auto;
    grid-gap: 10px;
    position: relative;
}