.decorative-shape {
  position: absolute;
  z-index: -1;
  opacity: 0.15;
}
.decorative-shape.top-left {
  top: 0;
  left: 0;
  width: 300px;
}

@font-face {
  font-family: "Cal Sans";
  src: url("/assets/fonts/CalSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Light";
  src: url("/assets/fonts/Nunito-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope Bold";
  src: url("/assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope Light";
  src: url("/assets/fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
::-moz-placeholder {
  color: #818181;
}
::placeholder {
  color: #818181;
}

@keyframes open-burguer-menu {
  0% {
    height: 0%;
  }
  100% {
    height: 30%;
  }
}
@keyframes open-order-modal {
  0% {
    height: 0%;
  }
  100% {
    height: 50%;
  }
}
@keyframes alert-slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes r-slide-in {
  0% {
    transform: translateX(2500px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.dashboard-layout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.dashboard-layout .bg-blob-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}

.iracing-id-container {
  border-bottom: 1px solid white;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: #f1f1f1;
  padding: 5px;
}
.iracing-id-container input {
  border: none;
  width: 70%;
  height: 100%;
  border-radius: 5px;
  font-size: 22px;
  padding: 10px;
  color: #2c2c2c;
  outline: none;
  font-family: "Manrope Light", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.user-aside-container {
  position: fixed;
  width: 300px;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  right: 10px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  box-shadow: 0px 0px 20px 1px rgba(58, 58, 58, 0.205);
  border-radius: 20px;
  padding: 20px;
  animation: fade-in 1s ease forwards;
}
.user-aside-container .user-avatar {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.dashboard-view {
  z-index: 100;
  width: 90%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.dashboard-view .dashboard-content {
  width: 84%;
  height: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 25px;
  top: 25px;
  bottom: 25px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 0px 0px 20px 1px rgba(58, 58, 58, 0.205);
  border-radius: 20px;
  overflow: hidden;
}
.dashboard-view .dashboard-content img {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 10;
}

.input-container-full {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.input-container-full .input-label {
  color: #2c2c2c;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid rgba(204, 204, 204, 0.8);
  padding: 3px;
}
.input-container-full .input-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.input-container-full .input-container .input-icon {
  width: 40px;
  height: auto;
  color: #ccc;
}
.input-container-full .input-container .input-field {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 22px;
  padding: 10px;
  color: #2c2c2c;
  outline: none;
  font-family: "Manrope Light", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #cecece;
}
.input-container-full .error {
  font-size: 11px;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  color: red;
  font-weight: 600;
  padding: 3px;
}

.next-event-countdown {
  width: 70%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(135deg, #f77c00 0%, #ff8103 100%);
  grid-column-start: 1;
  grid-column-end: 4;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgba(58, 58, 58, 0.205);
  gap: 20px;
}

.input-container .submit-btn-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.input-container .submit-btn-container button {
  padding: 5px;
  border-radius: 5px;
  width: 40%;
  height: 50px;
  font-family: "Manrope Bold", sans-serif;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  transition: all 0.3s ease;
  border: 1px solid #f1f1f1;
  flex-direction: row;
  background-image: none;
  background-color: #9d4b08;
  color: #f1f1f1;
  gap: 10px;
}
.input-container .submit-btn-container button:hover {
  transform: translateX(5px);
}
.input-container .submit-btn-container .login-icon {
  transition: all 0.3s ease;
  color: white;
}

.submit-btn-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.submit-btn-container button {
  padding: 5px;
  border-radius: 5px;
  width: 40%;
  height: 50px;
  font-family: "Manrope Bold", sans-serif;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  transition: all 0.3s ease;
  border: 1px solid #f1f1f1;
  flex-direction: row;
  background-image: none;
  background-color: #9d4b08;
  color: #f1f1f1;
  gap: 10px;
}
.submit-btn-container button:hover {
  transform: translateX(5px);
}
.submit-btn-container .login-icon {
  transition: all 0.3s ease;
  color: white;
}

.card-container {
  width: 250px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 20px 1px rgba(58, 58, 58, 0.205);
  border-radius: 20px;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  position: relative;
}
.card-container h3 {
  color: #f1f1f1;
  font-family: "Cal Sans", sans-serif;
  font-size: 22px;
  border-bottom: 1px solid #f1f1f1;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.card-container h3 .details-link {
  text-decoration: none;
  cursor: pointer;
  z-index: 11;
}
.card-container h3 .details-link button {
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  height: 80%;
  font-family: "Manrope Bold", sans-serif;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  transition: all 0.3s ease;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #072130;
}
.card-container h3 .details-link button:hover {
  transform: scale(1.05);
}
.card-container p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  font-size: 16px;
}/*# sourceMappingURL=eslDashboard.css.map */