@use '../../../utils/vars' as *;       
@use '../../../utils/mixins' as *;
@use '../../../utils/typography' as *;
@use '../../../utils/animations' as *;
@use '../../../utils/breakpoints' as *;

// Component
@use '../../../lib/components/ScheduleCardComponent';

.schedule-container{
    @include sizes($height: 100vh);
    @include displayFlex($justifyContent: flex-start);
    align-items: flex-start;
    min-height: 100vh;
    padding: 50px;
    background-image: $light-2-BackgroundImage;
}