@use '../../../utils/vars' as *;       
@use '../../../utils/mixins' as *;
@use '../../../utils/typography' as *;
@use '../../../utils/animations' as *;
@use '../../../utils/breakpoints' as *;

// Component
@use '../../../lib/components/ScheduleCardComponent';

.schedule-container{
    @include sizes();
    @include displayFlex($justifyContent: flex-end);
    position: relative;
    min-height: 100vh;
    background-image: $light-2-BackgroundImage;
}