@font-face {
  font-family: "Cal Sans";
  src: url("/assets/fonts/CalSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Light";
  src: url("/assets/fonts/Nunito-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope Bold";
  src: url("/assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope Light";
  src: url("/assets/fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.decorative-shape {
  position: absolute;
  z-index: -1;
  opacity: 0.15;
}
.decorative-shape.top-left {
  top: 0;
  left: 0;
  width: 300px;
}

::-moz-placeholder {
  color: #818181;
}

::placeholder {
  color: #818181;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: "Manrope Light", sans-serif;
  font-size: 16px;
}

html {
  overflow-x: hidden;
  scrollbar-width: none;
  min-height: 100vh;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@keyframes open-burguer-menu {
  0% {
    height: 0%;
  }
  100% {
    height: 30%;
  }
}
@keyframes open-order-modal {
  0% {
    height: 0%;
  }
  100% {
    height: 50%;
  }
}
@keyframes alert-slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes r-slide-in {
  0% {
    transform: translateX(2500px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 25px;
  z-index: 1000;
  gap: 50px;
  padding: 10px;
  transition: all 0.3s ease;
}
.nav .left-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.nav .left-header .header-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #2c2c2c;
  font-weight: 600;
  transition: all 0.3s ease;
  font-size: 16px;
}
.nav .left-header .header-link:hover {
  transform: translateY(5px);
  border-bottom: 1px solid #2c2c2c;
}
.nav .left-header .header-link-home {
  text-decoration: none;
  color: #2c2c2c;
  transition: all 0.5s ease;
}
.nav .left-header .header-link-home:hover {
  transform: rotate(360deg);
}
.nav .left-header .start-link {
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-family: "Manrope Bold", sans-serif;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  transition: all 0.3s ease;
}
.nav .right-header .header-audio-toggle {
  width: 50px;
  background-image: none;
  background-color: transparent;
  color: #2c2c2c;
}

.scrolled {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  top: 0px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  color: #f1f1f1;
}

.alert-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 350px;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 999999;
}
.alert-container .alert-content {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 15px;
}
.alert-container .alert-content .alert-title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
.alert-container .alert-content .alert-title .alert-icon-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.alert-container .alert-content .alert-title .alert-icon-text span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.alert-container .alert-content .alert-title .alert-icon-text .alert-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.alert-container .alert-content .alert-title .alert-icon-text .alert-text h3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}
.alert-container .alert-content .alert-title .alert-icon-text .alert-text p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
}
.alert-container .alert-content .alert-title .alert-close-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  font-family: "Manrope Bold", sans-serif;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  transition: all 0.3s ease;
  border: none;
}

.profile-config-container {
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
  gap: 10px;
  padding: 10px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  border-radius: 10px;
}
.profile-config-container img {
  width: auto;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.profile-config-container .user-name {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #f1f1f1;
  font-weight: 600;
  transition: all 0.3s ease;
  font-size: 16px;
}
.profile-config-container .notification-icon {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #f1f1f1;
  cursor: pointer;
  transition: all 0.3s ease;
}
.profile-config-container .notification-icon:hover {
  transform: scale(1.1);
}
.profile-config-container .config-button, .profile-config-container .home-button {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}
.profile-config-container .config-button:hover, .profile-config-container .home-button:hover {
  transform: scale(1.1);
}
.profile-config-container .config-button .config-icon, .profile-config-container .home-button .config-icon {
  width: 100%;
  height: 100%;
  color: #f1f1f1;
}
.profile-config-container .logout-button {
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  font-family: "Manrope Bold", sans-serif;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  transition: all 0.3s ease;
  flex-direction: row;
  gap: 5px;
  background-image: none;
  background-color: transparent;
  background-color: #ff8a8a;
  border: none;
  color: #2c2c2c;
}

.full-modal-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.6784313725);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.full-modal-wrapper .modal-content {
  width: 100%;
  height: 100%;
  max-width: 650px;
  max-height: 500px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgba(58, 58, 58, 0.205);
  position: relative;
}
.full-modal-wrapper .modal-content .title-modal {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.full-modal-wrapper .modal-content .close-modal-button {
  padding: 5px;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  font-family: "Manrope Bold", sans-serif;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  transition: all 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000000;
}
.full-modal-wrapper .modal-content .close-modal-button:hover {
  transform: none;
}/*# sourceMappingURL=app.css.map */