@use '../../../utils/vars' as *;       
@use '../../../utils/mixins' as *;
@use '../../../utils/typography' as *;
@use '../../../utils/animations' as *;
@use '../../../utils/breakpoints' as *;

@use '../components/LoginFormComponent';
@use '../../../lib/components/FormInput';

.auth-view-container{
    @include sizes(95%, 70%);
    @include displayFlex($flexDirection:row);
    margin: 0 auto;
    position: relative; 
    border-radius: 20px;
    box-shadow: $shadow;
    background-image: $darkBlack-BackgroundImage;

    .auth-view-content{
        @include sizes(50%, 70%);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        @include displayFlex();
        align-items: flex-start;
        color: white;
        z-index: 102;
        padding: 25px;
        gap: 25px;

        h2{
            font-size: 2.5rem;
            font-family: $calSansFont;
            letter-spacing: 2px;
        }

        .link-auth{
            @include buttonDesign($width: 100%, $height: 50px);
            text-decoration: none;
            max-width: 150px;
            font-size: $md;
            background-image: none;
            border-radius: 10px;
            color: $darkFontColor;
            border: none;
            background-image: $light-BackgroundImage;

            &:hover{
            transform: translateX(5px);
            }
        }
    }
    .form-auth-container{
        @include sizes(30%,80%); 
        @include displayFlex();
        gap: 20px;
        background-image: $light-BackgroundImage;
        border-radius: 20px;
        overflow: hidden;
    }
}