@use '../../../../utils/vars' as *;       
@use '../../../../utils/mixins' as *;
@use '../../../../utils/typography' as *;
@use '../../../../utils/animations' as *;
@use '../../../../utils/breakpoints' as *; 

.dashboard-component{
    @include sizes();
    @include displayFlex($justifyContent: space-between);
    padding: 15px;
    background-image: $light-BackgroundImage;
    color: $lightFontColor;

    .dashboard-h2{
        @include sizes($height: 40px);
        @include displayFlex();
        align-items: flex-start;
        font-family: $manropeBoldFont;
        font-size: $lg;
        border-bottom: $darkFontColor 1px solid;
        color: $darkFontColor;
    }

    .status-header{
        @include sizes($height: 100px);
        @include displayFlex($justifyContent: space-between, $flexDirection: row);
        gap: 10px;

        .status-bar{
            @include sizes($height: 100px); 
            @include displayFlex($flexDirection:row);
            justify-content: flex-start;
            gap: 20px;
            padding: 10px;
            position: relative;

            .status-item{
                cursor: pointer;
                @include sizes(160px,40px);
                @include displayFlex($flexDirection:row, $justifyContent: space-around);
                gap: 10px;
                padding: 10px;
                background-color: $lightFontColor;
                border-radius: 5px;
                box-shadow: $shadow;
                position: relative; 
                z-index: 100;
                color: $darkFontColor;
                font-weight: $bold;
                transition: all 0.3s ease-in-out;
                font-size: $sm;

                &:hover{
                    transform: scale(1.05);
                }

                &.active{
                    background-image: $secondary-Normal-BackgroundImage;
                    transform: scale(1.1);
                    color: $lightFontColor;
                }
                
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: -70px; 
                    width: 70px;
                    height: 3px;
                    background-color: $lightFontColor;
                    z-index: -1;
                }

                &:last-child::after {
                    content: none;
                } 

                .status-count{
                    color: $lightFontColor;
                    padding: 5px;
                    border-radius: 5px;
                    background-color:$brandColor;
                }
            }
            .status-item.reached::after {
                background-color: $brandColor;
            }
        }

        .register-order-nav-link{
            text-decoration: none;
            @include buttonDesign($width: 200px, $height: 50px);
            flex-direction: row;
            border-radius: 10px;
            gap: 10px;
            padding: 10px;

            &:hover{
                transform: translateY(-5px);
            }
        }
    }

    .order-table{
        @include sizes();
        @include displayFlex($justifyContent: flex-start);
        color: $darkFontColor;
        border-radius: 20px;
        overflow: hidden;
        padding: 5px;

        h3{
            @include sizes($height: 30px);
            @include displayFlex();
            align-items: flex-start;
            border-bottom: 1px solid $darkFontColor;
            font-family: $calSansFont;
            font-size: $lg;
            color: $brandColor;
        }

        table{
            @include sizes();
            @include displayFlex($justifyContent: flex-start);
            gap: 10px;

            thead{
                @include sizes($height: 40px);

                .th-table{
                    @include sizes(500px, 40px);
                    border-radius: 5px;
                    background-image: $light-BackgroundImage;
                    font-size: $lg;
                    font-family: $calSansFont;
                }
            }
            tbody{
                @include sizes();
                @include displayFlex($justifyContent: flex-start);
                overflow-x: hidden;
                overflow-y: scroll;
                scrollbar-width: none;
                gap: 5px;

                tr{
                    @include sizes($height: 40px);
                    @include displayFlex($flexDirection:row, $justifyContent: space-between);
                    background-image: $light-BackgroundImage;
                    border-radius: 5px;

                    .td-table{
                        @include displayFlex();
                        @include sizes();
                    }
                }
            }
        }
    }
}