.decorative-shape {
  position: absolute;
  z-index: -1;
  opacity: 0.15;
}
.decorative-shape.top-left {
  top: 0;
  left: 0;
  width: 300px;
}

@font-face {
  font-family: "Cal Sans";
  src: url("/assets/fonts/CalSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Light";
  src: url("/assets/fonts/Nunito-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope Bold";
  src: url("/assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope Light";
  src: url("/assets/fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
::-moz-placeholder {
  color: #818181;
}
::placeholder {
  color: #818181;
}

@keyframes open-burguer-menu {
  0% {
    height: 0%;
  }
  100% {
    height: 30%;
  }
}
@keyframes open-order-modal {
  0% {
    height: 0%;
  }
  100% {
    height: 50%;
  }
}
@keyframes alert-slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes r-slide-in {
  0% {
    transform: translateX(2500px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.auth-full-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 300px;
  position: relative;
}
@media (min-width: 1280px) {
  .auth-full-container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
  }
}
.auth-full-container .auth-text-container {
  width: 100%;
  height: 100%;
  max-width: 650px;
  max-height: 500px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  color: white;
  z-index: 102;
  padding: 25px;
  gap: 25px;
  background-image: url("../../../assets/images/backgrounds/blob-scene-bg.svg");
  box-shadow: 0px 0px 20px 1px rgba(58, 58, 58, 0.205);
}
.auth-full-container .auth-text-container h2 {
  font-size: 2.5rem;
  font-family: "Cal Sans", sans-serif;
  letter-spacing: 2px;
}
.auth-full-container .auth-text-container p {
  font-size: 22px;
}
.auth-full-container .auth-text-container .link-auth {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  font-family: "Manrope Bold", sans-serif;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  transition: all 0.3s ease;
  text-decoration: none;
  max-width: 150px;
  font-size: 16px;
  background-image: none;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
}
.auth-full-container .auth-text-container .link-auth:hover {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #2c2c2c;
  transform: translateX(5px);
}
.auth-full-container .register-text-container {
  border-top-right-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
  max-height: 600px;
  justify-content: space-around;
}

.login-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  max-height: 500px;
  align-items: flex-start;
  gap: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 100;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding: 25px;
  box-shadow: 0px 0px 20px 1px rgba(58, 58, 58, 0.205);
}
.login-content .auth-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.login-content .auth-header h2 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  font-size: 30px;
  font-family: "Cal Sans", sans-serif;
  color: #072130;
}
.login-content .auth-header img {
  width: 70px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.login-content h3 {
  padding: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  font-size: 16px;
  color: #818181;
  font-weight: 400;
}
.login-content .login-auth-form {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
}
.login-content .login-auth-form .submit-btn-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.login-content .login-auth-form .submit-btn-container button {
  padding: 5px;
  border-radius: 5px;
  width: 50%;
  height: 70%;
  font-family: "Manrope Bold", sans-serif;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  transition: all 0.3s ease;
  border: 1px solid #f1f1f1;
  flex-direction: row;
  background-image: none;
  background-color: #9d4b08;
  color: #f1f1f1;
  gap: 10px;
}
.login-content .login-auth-form .submit-btn-container button:hover {
  transform: translateX(5px);
}
.login-content .login-auth-form .submit-btn-container .login-icon {
  transition: all 0.3s ease;
  color: white;
}
.login-content .recovery-link {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #2c2c2c;
  font-weight: 600;
  font-size: 14px;
}

.reg-auth-father-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  max-height: 600px;
  align-items: flex-start;
  gap: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 100;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding: 50px;
  box-shadow: 0px 0px 20px 1px rgba(58, 58, 58, 0.205);
}
.reg-auth-father-container .auth-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.reg-auth-father-container .auth-header h2 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  font-size: 22px;
  font-family: "Cal Sans", sans-serif;
  color: #072130;
  letter-spacing: 1px;
}
.reg-auth-father-container .auth-header img {
  width: 50px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.reg-auth-father-container .reg-auth-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  gap: 10px;
}

.auth-layout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.auth-layout .bg-blob-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}

.input-container .submit-btn-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.input-container .submit-btn-container button {
  padding: 5px;
  border-radius: 5px;
  width: 40%;
  height: 50px;
  font-family: "Manrope Bold", sans-serif;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  transition: all 0.3s ease;
  border: 1px solid #f1f1f1;
  flex-direction: row;
  background-image: none;
  background-color: #9d4b08;
  color: #f1f1f1;
  gap: 10px;
}
.input-container .submit-btn-container button:hover {
  transform: translateX(5px);
}
.input-container .submit-btn-container .login-icon {
  transition: all 0.3s ease;
  color: white;
}

.submit-btn-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.submit-btn-container button {
  padding: 5px;
  border-radius: 5px;
  width: 40%;
  height: 50px;
  font-family: "Manrope Bold", sans-serif;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  transition: all 0.3s ease;
  border: 1px solid #f1f1f1;
  flex-direction: row;
  background-image: none;
  background-color: #9d4b08;
  color: #f1f1f1;
  gap: 10px;
}
.submit-btn-container button:hover {
  transform: translateX(5px);
}
.submit-btn-container .login-icon {
  transition: all 0.3s ease;
  color: white;
}/*# sourceMappingURL=auth.css.map */