@use '../../../utils/vars' as *;       
@use '../../../utils/mixins' as *;
@use '../../../utils/typography' as *;
@use '../../../utils/animations' as *;
@use '../../../utils/breakpoints' as *; 

.dashboard-nav{
    @include sizes(13%,95%);
    @include displayFlex($justifyContent: flex-start);
    position: fixed;
    gap: 25px;
    top: 25px;
    left: 25px;
    bottom: 25px;
    z-index: 1000;
    background-image: $light-BackgroundImage;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    padding-top: 25px;
    padding-bottom: 25px;

    img{
        @include sizes(40%,auto);
        cursor: default;
    }
    .dashboard-nav-list{
        @include sizes();
        @include displayFlex($justifyContent:flex-start);
        align-items: flex-start;

        .dashboard-nav-item{
            list-style: none;
            @include sizes($height: 40px);
            @include displayFlex();
            align-items: center;

            .dashboard-nav-link{
                text-decoration: none;
                color: $darkFontColor;
                font-family: $manropeBoldFont;
                font-size: $sm;
                @include sizes();
                @include displayFlex($flexDirection:row);
                justify-content: flex-start;
                padding: 5px;
                gap: 25px;
                transition: all 0.3s ease;
            }
            .dashboard-nav-link-active{
                color: $darkFontColor;
                background-color: $bg-light;
                padding-left: 20px;
                border-radius: 10px;
                width: 90%;
            }
        }
    }
    .bottom-nav-list{
        height: 25%;
    }
}